.Profile-direita {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 31%;
  right: 0rem;
  flex-direction: column;
  background: #e4e4e4;
  z-index: -1;
}

.greetings1 {
  position: absolute;
  font-family: 'Baloo Bhaina 2';
  font-weight: 100;
  top: 6%;
  left: 26%;
  width: 100%;
  font-size: clamp(0.01em, 0.01em + 1.6vw, 3em);
  color: #9a9c9c;
}
.greetings2 {
  position: absolute;
  font-family: 'Baloo Bhaina 2', cursive;
  top: 8%;
  left: 28%;
  width: 100%;
  font-size: clamp(0.01em, 0.01em + 1.6vw, 3em);
  color: #0b9e82;
}

.profile-profileEditor {
  position: absolute;
  border: none;
  top: 12%;
  left: 35%;
  font-family: 'baloo bhaina 2';
  font-weight: 500;
  font-size: clamp(0.01em, 0.01em + 1.2vw, 2em);
  background-color: transparent;
  cursor: pointer;
}
.logo1 {
  position: absolute;
  top: 5%;
  left: 74%;
  width: 20%;
  height: 11%;
}
.logologo {
  position: absolute;
  bottom: 10%;
  left: 20%;
  width: 60%;
}

@media screen and (max-width: 500px) {
  .Profile-direita {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0rem;
    background-color: rgb(211, 211, 211);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: -2;
  }
  .logo1 {
    position: absolute;
    width: 18%;
    height: 50%;
    top: -370%;
    left: 76%;
  }
  .logologo {
    position: absolute;
    bottom: 15%;
    left: 30%;
    width: 42%;
  }
  .profile-profileEditor {
    position: absolute;
    width: 14%;
    border: none;
    top: -320%;
    left: 78%;
    font-family: 'baloo bhaina 2';
    font-weight: 500;
    font-size: 12px;
    color: #749898;
    background-color: transparent;
  }
  .greetings1 {
    display: none;
  }
  .greetings2 {
    display: none;
  }

  /* mensagem de entrada no mobile--------------------------------------------------------------------
.greetings1 {
  position: absolute;
font-family: "Baloo Bhaina 2";
font-weight: 100;
top: -350%;
left: 32%;
width: 100%;
font-size: clamp(0.01em, 0.01em + 1.6vw, 3em);
color: #9a9c9c;
}
.greetings2 {
  position: absolute;
font-family: "Baloo Bhaina 2", cursive;
top: 22%;
left: 27%;
width: 100%;
font-size: clamp(0.01em, 0.01em + 1.6vw, 3em);
color: #0b9e82;
} ---------------------------------------------------------------------------------------------------*/
}
