.fnameObservCpto {
  position: absolute;
  top: 6%;
  left: 48%;
  padding-left: 10px;
  background-color: rgb(226, 226, 226);

  font-size: clamp(0.1em, 0.1em + 1.5vw, 4em);
  font-family: 'baloo bhaina2';
  border: none;
  align-items: center;
  color: gray;
  border-radius: 5px;
  width: 16%;
  height: 5%;
  z-index: 1;
}
.subtObservCPTO1 {
  position: absolute;
  top: 18%;
  left: 10%;
  width: 50rem;
  height: 5rem;
  border-radius: 20px;
  display: block;
  font-family: 'baloo bhaina 2';
  font-weight: 600;
  font-size: clamp(0.1em, 0.1em + 1vw, 4em);
  color: #adadad;
  z-index: 1;
  letter-spacing: -1px;
}
.subtObservCPTO2 {
  position: absolute;
  top: 21%;
  left: 10%;
  font-weight: 100;
  border-radius: 20px;
  display: block;
  font-size: clamp(0.1em, 0.1em + 2vw, 4em);
  font-family: 'baloo bhaina 2';
  font-weight: 700;
  color: #1c396b;
  z-index: 1;
  letter-spacing: -1px;
}
.subtObservCPTO3 {
  position: absolute;
  top: 37%;
  left: 10%;
  font-weight: 100;
  border-radius: 20px;
  display: block;
  font-size: clamp(0.1em, 0.1em + 2vw, 4em);
  font-family: 'baloo bhaina 2';
  font-weight: 700;
  color: #1c396b;
  z-index: 1;
  letter-spacing: -1px;
}
.filterList {
  position: absolute;
  top: 38%;
  left: 63%;
  font-weight: 100;
  border-radius: 20px;
  display: block;
  font-size: clamp(0.1em, 0.1em + 2vw, 4em);
  font-family: 'baloo bhaina 2';
  font-weight: 600;
  color: #c5c5c5;
  z-index: 1;
  letter-spacing: -1px;
}
.filterList1 {
  position: absolute;
  top: 36%;
  left: 73%;
  display: block;
  font-size: clamp(0.1em, 0.1em + 3vw, 4em);
  font-family: 'baloo bhaina 2';
  border-style: none;
  background-color: transparent;
  color: #009c6d;
  z-index: 1;
  letter-spacing: -1px;
}
.filterList2 {
  position: absolute;
  top: 36%;
  left: 79%;
  display: block;
  font-size: clamp(0.1em, 0.1em + 3vw, 4em);
  font-family: 'baloo bhaina 2';
  border-style: none;
  background-color: transparent;
  color: rgb(209, 209, 0);
  z-index: 1;
  letter-spacing: -1px;
}
.filterList3 {
  position: absolute;
  top: 36%;
  left: 85%;
  display: block;
  font-size: clamp(0.01em, 0.01em + 3vw, 4em);
  border-style: none;
  background-color: transparent;
  color: #830133;
  z-index: 1;
  letter-spacing: -1px;
}
.observComp {
  position: absolute;
  justify-content: center;
  text-align: left;
  display: flex;
  width: 80%;
  height: 8%;
  left: 10%;
  top: 29%;
  font-family: 'baloo bhaina 2';
  font-weight: 800;
  font-size: clamp(0.1em, 0.1em + 2.3vw, 4em);
  color: white;
  background-image: linear-gradient(160deg, #056145 20%, #009c6d 100%);
  background-size: 100%;
  border-radius: 10px;
  border: none;
  z-index: 1;
  letter-spacing: -1px;
}
.indiceTotal {
  margin-left: 15rem;
}
.ObservFeitas {
  background-color: #1c396b;
  overflow: auto;
  position: absolute;
  top: 45%;
  left: 10%;
  width: 80%;
  height: 50%;
  border-radius: 2%;
}

.TittleObservCpto1 {
  position: absolute;
  width: 42rem;
  height: 35rem;
  border-style: none;
  font-family: 'baloo bhaina 2';
  font-weight: 600;
  background-color: #1c396b;
  text-align: center;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  border-style: none;
  border-radius: 20px;
}
.btnGroup {
  position: absolute;
  text-align: center;
  padding: 5px;
  top: 0px;
  left: 20%;
  color: #ffffff;
  border-style: none;
}
.btnQuest {
  position: absolute;
  text-align: center;
  padding: 5px;
  margin-top: 0px;
  left: 60%;
  width: 5rem;
  color: #ffffff;
  border-style: none;
}
.btnActivit {
  position: absolute;
  text-align: center;
  padding: 5px;
  top: 0px;
  left: 95%;
  color: #ffffff;
  border-style: none;
}

.TittleObservCpto2 {
  position: absolute;
  top: 10%;
  font-family: 'baloo bhaina 2';
  font-weight: 600;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  width: 100%;
  border-radius: 10px;
  background-color: white;
  border-style: none;
  border: 1px solid;
}

.tblObsCod {
  text-align: center;
  width: 1rem;
  align-items: center;
}
.tblGroup {
  text-align: left;
  width: 10rem;
  align-items: center;
}
.tblQuest {
  text-align: left;
  width: 10rem;
  align-items: center;
}
.tblActivit {
  text-align: left;
  width: 10rem;
  align-items: center;
}
.tblFilter {
  text-align: center;
  color: #009c6d;
  /* color: #830133; */
  /* color: rgb(209, 209, 0); */
  width: 5rem;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .fnameObservCpto {
    display: none;
    /* position: absolute;
    top: 5rem;
    left: 0rem;
    padding-left: 10px;
    background-color: rgb(226, 226, 226);
    font-size: 14px;
    font-family: "baloo bhaina2";
    border: none;
    align-items: center;
    color: gray;
    border-radius: 10px;
    width: 10rem;
    height: 1.5rem;
    z-index: 1; */
  }

  .subtObservCPTO1 {
    position: absolute;
    top: -2rem;
    left: 1rem;
    width: 50rem;
    height: 5rem;
    border-radius: 20px;
    display: block;
    font-family: 'baloo bhaina 2';
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    z-index: 1;
    letter-spacing: -1px;
  }
  .subtObservCPTO2 {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 60%;
    border-radius: 20px;
    display: block;
    font-size: 16px;
    font-family: 'baloo bhaina 2';
    font-weight: 700;
    color: #1c396b;
    z-index: 1;
    letter-spacing: -1px;
  }
  .subtObservCPTO3 {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 49%;
    font-weight: 100;
    border-radius: 18px;
    display: block;
    font-size: 18px;
    font-family: 'baloo bhaina 2';
    font-weight: 700;
    color: #1c396b;
    z-index: 1;
    letter-spacing: -1px;
  }

  .filterList {
    position: absolute;
    top: 16%;
    left: 65%;
    font-weight: 100;
    border-radius: 20px;
    display: block;
    font-size: 14px;
    font-family: 'baloo bhaina 2';
    font-weight: 600;
    color: #c5c5c5;
    z-index: 1;
    letter-spacing: -1px;
  }
  .filterList1 {
    position: absolute;
    top: 15%;
    left: 75%;
    display: block;
    font-size: 20px;
    font-family: 'baloo bhaina 2';
    border-style: none;
    background-color: transparent;
    color: #009c6d;
    z-index: 1;
    letter-spacing: -1px;
  }
  .filterList2 {
    position: absolute;
    top: 15%;
    left: 81%;
    display: block;
    font-size: 20px;
    font-family: 'baloo bhaina 2';
    border-style: none;
    background-color: transparent;
    color: rgb(209, 209, 0);
    z-index: 1;
    letter-spacing: -1px;
  }
  .filterList3 {
    position: absolute;
    top: 15%;
    left: 87%;
    display: block;
    font-size: 20px;
    font-family: 'baloo bhaina 2';
    border-style: none;
    background-color: transparent;
    color: #830133;
    z-index: 1;
    letter-spacing: -1px;
  }

  .observComp {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 8%;
    height: 3rem;
    display: flex;
    justify-content: left;
    text-align: left;
    font: 800 18px 'baloo bhaina 2';
    text-align: center;
    color: white;
    background-image: linear-gradient(160deg, #056145 20%, #009c6d 100%);
    background-size: 100%;
    border-radius: 10px;
    padding-left: 1rem;
    z-index: 1;
  }
  .indiceTotal {
    position: absolute;
    right: 1rem;
  }

  .ObservFeitas {
    overflow: auto;
    position: absolute;
    top: 22%;
    left: 5%;
    width: 90%;
    height: 58%;
    background-color: white;
    border-radius: 5px;
  }
  .TittleObservCpto1 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: none;
    font-family: 'baloo bhaina 2';
    font-weight: 600;
    background-color: #1c396b;
    text-align: center;
    border-radius: 0;
    font-size: clamp(0.1em, 0.1em + 2.5vw, 3em);
  }
  .btnGroup {
    position: absolute;
    top: 1%;
    left: 13%;
    border-style: none;
  }
  .btnQuest {
    position: absolute;
    top: 1%;
    left: 38%;
  }
  .btnActivit {
    position: absolute;
    top: 1%;
    left: 62%;
  }

  .TittleObservCpto2 {
    position: absolute;
    top: 10%;
    font-family: 'baloo bhaina 2';
    font-weight: 600;
    font-size: clamp(0.1em, 0.1em + 2.2vw, 3em);
    width: 100%;
    border-radius: 10px;
    background-color: white;
    border-style: none;
    border: 1px solid;
  }
  .tblObsCod {
    text-align: center;
    align-items: center;
  }
  .tblGroup {
    text-align: left;
    align-items: center;
  }
  .tblQuest {
    text-align: left;
    align-items: center;
  }
  .tblActivit {
    text-align: left;
    align-items: center;
  }
  .tblFilter {
    text-align: center;
    color: #009c6d;
    /* color: #830133; */
    /* color: rgb(209, 209, 0); */
    width: 5rem;
    align-items: center;
  }
}
