/*-------------Conteudo do cabeçalho da tabela-----------------*/
.tblPessoacod {
  position: absolute;
  top: 5%;
  left: 4%;
}
.tblPessoaObservador {
  position: absolute;
  top: 5%;
  left: 14%;
}
.tbtPessoalogin {
  position: absolute;
  top: 5%;
  left: 38%;
}
.tblPessoaFuncao {
  position: absolute;
  top: 5%;
  left: 65%;
}
.tblPessoaMetas {
  position: absolute;
  top: 5%;
  left: 90%;
}

/*-------------Conteudo da tabela-----------------*/
.tblPesCod {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  width: 10rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblPesOBS {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 20rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblPesMail {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 20rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblPesFunc {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 20rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblPesMetas {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  width: 10rem;
  font: 10px BalooBhaina2-SemiBold;
}
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  background-color: transparent;
  border: none;
}

/*------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
  ::-webkit-input-placeholder {
    font: 24px BalooBhaina2-Regular;
  }
  /*-------------Conteudo do cabeçalho da tabela-----------------*/
  .tblPessoacod {
    position: absolute;
    font-size: 88px;
    top: 5%;
    left: 4%;
  }
  .tblPessoaObservador {
    position: absolute;
    font-size: 88px;
    top: 5%;
    left: 14%;
  }
  .tbtPessoalogin {
    position: absolute;
    font-size: 88px;
    top: 5%;
    left: 39%;
  }
  .tblPessoaFuncao {
    position: absolute;
    font-size: 88px;
    top: 5%;
    left: 64%;
  }
  .tblPessoaMetas {
    position: absolute;
    font-size: 88px;
    top: 5%;
    left: 90%;
  }

  /*-------------Conteudo da tabela-----------------*/
  .tblPesCod {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    width: 10rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblPesOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblPesMail {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblPesFunc {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblPesMetas {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 10rem;
    padding-left: 6%;
  }
  .action {
    display: flex;
    font-size: 18px;
    border: none;
  }
}

@media screen and (max-width: 780px) {
  /*-------------Conteudo do cabeçalho da tabela-----------------*/
  .tblPessoacod {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 4%;
  }
  .tblPessoaObservador {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 14%;
  }
  .tbtPessoalogin {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 39%;
  }
  .tblPessoaFuncao {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 64%;
  }
  .tblPessoaMetas {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 90%;
  }

  /*-------------Conteudo da tabela-----------------*/
  .tblPesCod {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    width: 10rem;
    font: 14px BalooBhaina2-SemiBold;
  }
  .tblPesOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 14px BalooBhaina2-SemiBold;
  }
  .tblPesMail {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 14px BalooBhaina2-SemiBold;
  }
  .tblPesFunc {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 14px BalooBhaina2-SemiBold;
  }
  .tblPesMetas {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    width: 12rem;
    font: 14px BalooBhaina2-SemiBold;
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1em, 1em + 1vw, 1em);
    background-color: transparent;
    border: none;
  }
}

@media screen and (max-width: 500px) {
  /*-------------Conteudo do cabeçalho da tabela-----------------*/
  .tblPessoacod {
    position: absolute;
    font-size: 48px;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 2%;
  }
  .tblPessoaObservador {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 11%;
  }
  .tbtPessoalogin {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 43%;
  }
  .tblPessoaFuncao {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 72%;
  }
  .tblPessoaMetas {
    position: absolute;
    font-size: 48px;
    top: 5%;
    left: 92%;
  }

  /*-------------Conteudo da tabela-----------------*/
  .tblPesCod {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    width: 10rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .tblPesOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 40rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .tblPesMail {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 16rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .tblPesFunc {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 16rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .tblPesMetas {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    width: 16rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1em, 1em + 1vw, 1em);
    background-color: transparent;
    border: none;
  }
}
