.tabelaPadrao {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  height: 65%;
  background-color: rgb(255, 255, 255);
  border-radius: 0;
  z-index: 5;
}
.tabelaPadrao::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

section {
  position: relative;
  border: 1px solid #000;
  padding-top: 5%;
  margin-top: 2%;
  width: 100%;
  height: 10%;
  font: 12px BalooBhaina2-Regular;
  background: #1c396b;
  border-radius: 10px;
}
.container {
  overflow-y: auto;
  margin-left: -1px;
  border: 1px solid;
  width: 100%;
  height: 38rem;
}
.container::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(219, 219, 219);
  /* rgb(219, 219, 219); */
  /* border-radius: 10px; */
}
table {
  border-spacing: 0;
  background-color: #fff;
  font-size: clamp(0.1em, 0.1em + 1.6vw, 1.2em);
  width: 100%;
}
td + td {
  border-left: 1px solid #eee;
}
th {
  border-bottom: 1px solid #eee;
  background: #ddd;
  color: #000;
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}
td {
  border-bottom: 1px solid #eee;
  background: #fff;

  color: #000;
  width: 100%;
}
th div {
  position: absolute;
  background: transparent;
  color: #fff;
  top: 1%;
  margin-left: 4%;
  line-height: normal;
  border-left: none;
}
th:first-child div {
  border: none;
}

/*-------------Conteudo do cabeçalho da tabela-----------------*/
.tblPessoacod {
  position: absolute;
  top: 5%;
  left: 4%;
}
.tblPessoaObservador {
  position: absolute;
  top: 5%;
  left: 14%;
}
.tbtPessoalogin {
  position: absolute;
  top: 5%;
  left: 39%;
}
.tblPessoaFuncao {
  position: absolute;
  top: 5%;
  left: 65%;
}
.tblPessoaMetas {
  position: absolute;
  top: 5%;
  left: 91%;
}

/*-------------Conteudo da tabela-----------------*/
.tblPesCod {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  width: 10rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblPesOBS {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 20rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblPesMail {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 20rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblPesFunc {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 20rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblPesMetas {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  width: 10rem;
  font: 10px BalooBhaina2-SemiBold;
}
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  background-color: transparent;
  border: none;
}

/*------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
  ::-webkit-input-placeholder {
    font: 24px BalooBhaina2-Regular;
  }

  /*-------------Conteudo do cabeçalho da tabela-----------------*/
  .tblPessoacod {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 4%;
  }
  .tblPessoaObservador {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 14%;
  }
  .tbtPessoalogin {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 39%;
  }
  .tblPessoaFuncao {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 65%;
  }
  .tblPessoaMetas {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 91%;
  }

  /*-------------Conteudo da tabela-----------------*/
  .tblPesCod {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    width: 10rem;
    font: 18px BalooBhaina2-SemiBold;
  }
  .tblPesOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 18px BalooBhaina2-SemiBold;
  }
  .tblPesMail {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 18px BalooBhaina2-SemiBold;
  }
  .tblPesFunc {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 18px BalooBhaina2-SemiBold;
  }
  .tblPesMetas {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    width: 10rem;
    font: 18px BalooBhaina2-SemiBold;
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    background-color: transparent;
    border: none;
  }
}

@media screen and (max-width: 1024px) {
  /*-------------Conteudo do cabeçalho da tabela-----------------*/
  .tblPessoacod {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 4%;
  }
  .tblPessoaObservador {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 14%;
  }
  .tbtPessoalogin {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 39%;
  }
  .tblPessoaFuncao {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 64%;
  }
  .tblPessoaMetas {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 90%;
  }

  /*-------------Conteudo da tabela-----------------*/
  .tblPesCod {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    width: 10rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblPesOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblPesMail {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblPesFunc {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblPesMetas {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    width: 12rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1em, 1em + 1vw, 1em);
    background-color: transparent;
    border: none;
  }
}

@media screen and (max-width: 780px) {
  /*-------------Conteudo do cabeçalho da tabela-----------------*/
  .tblPessoacod {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 4%;
  }
  .tblPessoaObservador {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 14%;
  }
  .tbtPessoalogin {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 39%;
  }
  .tblPessoaFuncao {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 64%;
  }
  .tblPessoaMetas {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 90%;
  }

  /*-------------Conteudo da tabela-----------------*/
  .tblPesCod {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    width: 10rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblPesOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblPesMail {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblPesFunc {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblPesMetas {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    width: 12rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1em, 1em + 1vw, 1em);
    background-color: transparent;
    border: none;
  }
}

@media screen and (max-width: 500px) {
  /*-------------Conteudo do cabeçalho da tabela-----------------*/
  .tblPessoacod {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 2%;
  }
  .tblPessoaObservador {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 11%;
  }
  .tbtPessoalogin {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 43%;
  }
  .tblPessoaFuncao {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 72%;
  }
  .tblPessoaMetas {
    position: absolute;
    font-size: clamp(1em, 1em + 10vw, 10em);
    top: 5%;
    left: 92%;
  }

  /*-------------Conteudo da tabela-----------------*/
  .tblPesCod {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    width: 10rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .tblPesOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 40rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .tblPesMail {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 16rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .tblPesFunc {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 16rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .tblPesMetas {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    width: 16rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1em, 1em + 1vw, 1em);
    background-color: transparent;
    border: none;
  }
}
