* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  /* a cada 1rem será considerada 10px */
  font-size: 62.5%;
}
.body {
  color: white;
  background-color: #ebfef5;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(
    rgb(34, 53, 88) 0%,
    rgb(27, 44, 75) 35%,
    rgb(15, 30, 56) 70%,
    rgb(11, 24, 46) 100%
  );
}
.bg1 {
  background: url('/src/Images/logoIniciativa2x.png');
  height: 100vh;
  width: 100%;
  position: fixed;
  background-size: 18%;
  background-position: 49% 92%;
  background-repeat: no-repeat;
  z-index: 1;
}
.bg2 {
  background: url('/src/Images/logoMeuCptoVertBranco2x.png');
  height: 100vh;
  width: 100%;
  position: fixed;
  background-size: 7%;
  background-position: 15% 50%;
  background-repeat: no-repeat;
}
.bg3 {
  background: url('/src/Images/logoQ.png');
  height: 100vh;
  width: 100%;
  position: fixed;
  background-size: 57%;
  background-position: 134% 62%;
  background-repeat: no-repeat;
}
.login-right {
  z-index: 1;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35.5%;
  height: 46%;
}

.login-right h3 {
  position: fixed;
  top: 32.9%;
  font-family: 'baloo bhaina 2';
  font-weight: 600;
  color: #0b9e82;
  font-size: clamp(0.1em, 0.1em + 2vw, 2.5em);
}
.hrLogin {
  position: fixed;
  width: 30%;
  top: 40%;
  height: 3px;
  border: none;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgb(197, 197, 197),
    transparent
  );
}

.login-loginEmail input {
  background-color: #dad8d8;
  color: #000000;
  position: fixed;
  justify-content: center;
  text-align: left;
  font-family: 'baloo bhaina 2', sans-serif;
  font-weight: 500;
  font-size: clamp(0.1em, 0.1em + 1.3vw, 2.5em);
  padding-top: 5px;
  padding-left: 10px;
  display: flex;
  border: none;
  border-radius: 5px;
  transition: color 0.2s ease-in-out;
  width: 20%;
  height: 5%;
  top: 43.5%;
  left: 39.5%;
}

.login-loginPassword input {
  background-color: #dad8d8;
  color: #000000;
  position: fixed;
  justify-content: center;
  text-align: left;
  font-family: 'baloo bhaina 2', sans-serif;
  font-weight: 500;
  font-size: clamp(0.1em, 0.1em + 1.3vw, 2.5em);
  padding-top: 5px;
  padding-left: 10px;
  display: flex;
  border: none;
  border-radius: 5px;
  transition: color 0.2s ease-in-out;
  width: 20%;
  height: 5%;
  top: 50%;
  left: 39.5%;
}

.enter-app {
  background-color: #172d52;
  color: white;
  position: fixed;
  padding-top: 0.1%;
  padding-left: 0.8%;
  display: flex;
  border: none;
  border-radius: 5px;
  transition: color 0.2s ease-in-out;
  width: 20%;
  height: 5%;
  top: 56.5%;
  left: 39.5%;
  text-decoration: none;
  font-size: clamp(0.1em, 0.1em + 1.3vw, 2.5em);
  font-family: 'baloo bhaina 2';
  font-weight: 600;
  cursor: pointer;
}
.login-right button:hover {
  cursor: pointer;
}
.login-right .recordPassword {
  color: #41606c;
  background-color: transparent;
  position: fixed;
  font-size: clamp(0.01em, 0.01em + 1vw, 1.1em);
  display: flex;
  border: none;
  border-radius: 5px;
  transition: color 0.2s ease-in-out;
  width: 15%;
  top: 63%;
  left: 39.5%;
  cursor: pointer;
}
.checkBoxMemorizer {
  position: absolute;
  display: flex;
  border: none;
  border-radius: 5px;
  transition: color 0.2s ease-in-out;
  top: 50%;
  left: 0;
  width: clamp(0.01em, 0.01em + 1.5vw, 2.5em);
}
.spnCheckBox {
  position: absolute;
  font-family: 'baloo bhaina 2', sans-serif;
  font-weight: 700;
  margin-top: -1%;
  left: 1%;
}

.btnrecovery {
  color: #41606c;
  background-color: transparent;
  position: fixed;
  font-family: 'baloo bhaina 2', sans-serif;
  font-weight: 700;
  font-size: clamp(0.01em, 0.01em + 1vw, 1.1em);
  display: flex;
  border: none;
  border-radius: 5px;
  transition: color 0.2s ease-in-out;
  width: 10%;
  top: 62.5%;
  left: 53.5%;
}

/*configuraçoes repetida*/

@media screen and (max-width: 500px) {
  .login-right {
    z-index: 1;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -8%;
    width: 68%;
    height: 230px;
  }
  .login-right h3 {
    position: absolute;
    top: 15px;
    color: #0b9e82;
    font-size: clamp(0.1em, 0.1em + 4vw, 3em);
    width: 100%;
    max-width: 180px;
    text-align: center;
    line-height: 1;
  }
  .login-right hr {
    position: absolute;
    top: 26%;
    width: 230px;
    height: 1px;
    margin-bottom: 30px;
  }
  .login-loginEmail input {
    background-color: #dad8d8;
    color: #000000;
    position: fixed;
    justify-content: center;
    text-align: left;
    font-family: 'baloo bhaina 2', sans-serif;
    font-weight: 500;
    font-size: 17px;
    padding-top: 5px;
    padding-left: 10px;
    position: absolute;
    display: flex;
    border: none;
    border-radius: 5px;
    transition: color 0.2s ease-in-out;
    width: 73.4%;
    height: 30px;
    top: 80px;
    left: 13.4%;
  }

  .login-loginPassword input {
    background-color: #dad8d8;
    color: #000000;
    position: fixed;
    justify-content: center;
    text-align: left;
    font-family: 'baloo bhaina 2', sans-serif;
    font-weight: 500;
    font-size: 17px;
    padding-top: 5px;
    padding-left: 10px;
    position: absolute;
    display: flex;
    border: none;
    border-radius: 5px;
    transition: color 0.2s ease-in-out;
    width: 73.4%;
    height: 30px;
    top: 115px;
    left: 13.4%;
  }
  .login .enter-app {
    background-color: #172d52;
    position: fixed;
    justify-content: flex-start;
    font-family: 'baloo bhaina 2', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px;
    position: absolute;
    display: flex;
    border: none;
    border-radius: 5px;
    transition: color 0.2s ease-in-out;
    width: 73.4%;
    height: 30px;
    top: 150px;
    left: 13.4%;
    z-index: 5;
  }

  .login-right .recordPassword {
    position: fixed;
    font-family: 'baloo bhaina 2', sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    display: flex;
    border: none;
    border-radius: 5px;
    transition: color 0.2s ease-in-out;
    width: 73.4%;
    height: 14%;
    top: 190px;
    left: 12%;
    z-index: 5;
  }

  .checkBoxMemorizer {
    position: absolute;
    display: flex;
    border: none;
    border-radius: none;
    transition: color 0.2s ease-in-out;
    top: 0;
    left: 5px;
    width: clamp(0.01em, 0.01em + 3vw, 2.5em);
  }
  .spnCheckBox {
    margin-top: 0px;
  }
  .btnrecovery {
    position: fixed;
    font-family: 'baloo bhaina 2', sans-serif;
    font-weight: 500;
    font-size: 8px;
    position: absolute;
    display: flex;
    border: none;
    border-radius: 5px;
    transition: color 0.2s ease-in-out;
    width: 28%;
    height: 10%;
    top: 190px;
    left: 63.5%;
    z-index: 5;
  }
  .bg1 {
    background: url('/src/Images/logoMeuCptoHorizBranco.png');
    background-position: 50% 90%;
    background-size: 220px;
    background-repeat: no-repeat;
    position: fixed;
  }
  .bg2 {
    display: none;
  }
  .bg3 {
    background-position: top;
    background-size: 95%;
  }
}
