.tblTtlcodEquipe {
  position: absolute;
  display: flex;
  top: 1%;
  left: 2%;
}
.tblTtlequipDesc {
  position: absolute;
  display: flex;
  top: 1%;
  left: 11%;
}
.tblTtlEquipGer {
  position: absolute;
  top: 1%;
  left: 37%;
}
.tblTtlEquipCLient {
  position: absolute;
  top: 1%;
  left: 64%;
}
.tblTtlEquipState {
  position: absolute;
  top: 1%;
  left: 90%;
}

/* 
tr:nth-child(even) {
  background-color: #f2f2f2;}

.tabelaEquipeRef2 :hover {
  background-color: #ddd;
} */

.tblEquipesCod {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  width: 8rem;
  font: 14px BalooBhaina2-SemiBold;
}
.tblEquipesOBS {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 20rem;
  font: 14px BalooBhaina2-SemiBold;
}
.tblEquipesMail {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 20rem;
  font: 14px BalooBhaina2-SemiBold;
}
.tblEquipesFunc {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 20rem;
  font: 14px BalooBhaina2-SemiBold;
}
.tblEquipesMetas {
  padding-left: 5%;
  width: 9rem;
}
@media screen and (max-width: 1024px) {
  .tblEquipesCod {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    width: 8rem;
    font: 22px BalooBhaina2-SemiBold;
  }
  .tblEquipesOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 22px BalooBhaina2-SemiBold;
  }
  .tblEquipesMail {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 22px BalooBhaina2-SemiBold;
  }
  .tblEquipesFunc {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 22px BalooBhaina2-SemiBold;
  }
  .tblEquipesMetas {
    padding-left: 5%;
    width: 9rem;
  }
}
@media screen and (max-width: 780px) {
  .tblEquipesCod {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    width: 8rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblEquipesOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblEquipesMail {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblEquipesFunc {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblEquipesMetas {
    padding-left: 5%;
    width: 9rem;
  }
}
@media screen and (max-width: 500px) {
  .tblEquipesCod {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    width: 8rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .tblEquipesOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .tblEquipesMail {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .tblEquipesFunc {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .tblEquipesMetas {
    padding-left: 5%;
    width: 9rem;
  }
}
