.MGUCod {
  position: absolute;
  font-size: 0.35em;
  top: 5%;
  left: 2%;
}
.MGUPermissao {
  position: absolute;
  font-size: 0.35em;
  top: 10%;
  left: 10%;
}
.MGUUserGroup {
  position: absolute;
  font-size: 0.35em;
  top: 10%;
  left: 23%;
}
.MGUState {
  position: absolute;
  font-size: 0.35em;
  top: 10%;
  left: 90%;
}

.tblMGUCod {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  width: 5rem;
}
.tblMGUPermissao {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  width: 8rem;
}
.btnMGUPermissoes {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.tblMGUUserGroup {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  width: 40rem;
}
.MGUStatus {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  width: 8rem;
}
