/*------------Cabeçalho da tabela Empresa------------*/
.tblSubEmpresaCod {
  position: absolute;
  font-size: 35px;
  top: 5%;
  left: 3%;
}
.tblSubEmpresaEmpresa {
  position: absolute;
  font-size: 35px;
  top: 5%;
  left: 15%;
}
.tblSubEmpresaAtivo {
  position: absolute;
  font-size: 35px;
  top: 5%;
  left: 90%;
}
/*------------Conteudo da tabela Empresa------------*/
.btnSubEmpresaCod {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-weight: 500;
  width: 10rem;
}
.btnSubEmpresaOBS {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  width: 60rem;
  font-weight: 500;
  font-size: 10px;
}
.btnSubEmpresaAtivo {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: #11806a;
  font-weight: 500;
  width: 10rem;
  font-size: 10px;
}
/*------------Modal da tabela Empresa------------*/
.fNomeFantasiaEmpresa {
  position: relative;
  top: 18%;
  left: 5%;
  padding-left: 2%;
  width: 60%;
}
.fRazãoSocialEmpresa {
  position: relative;
  top: 20%;
  left: 5%;
  padding-left: 2%;
  width: 60%;
}
.fSelectTipEmpresa {
  position: relative;
  top: 22%;
  left: 5%;
  padding-left: 2%;
  width: 60%;
}
.fCNPJEmpresa {
  position: relative;
  top: 24%;
  left: 5%;
  padding-left: 2%;
  width: 60%;
}
.fInscEst {
  position: relative;
  top: 26%;
  left: 5%;
  padding-left: 2%;
  width: 60%;
}
.fObsEmpresa {
  position: relative;
  top: 28%;
  left: 5%;
  padding-left: 2%;
  width: 90%;
  height: 25%;
}
.form-group {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 60%;
  width: 40%;
  font-size: 1em;
  height: 25%;
}
.btn-AlterarInfo {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.imgProfileEmpresa {
  position: absolute;
  width: clamp(1em, 1em + 6vw, 12em);
  height: clamp(1em, 1em + 6vw, 12em);
  border-radius: 50px;
}
.form-control-file {
  font-size: 1.1rem;
}

@media screen and (max-width: 1024px) {
  /*------------Cabeçalho da tabela Empresa------------*/
  .tblSubEmpresaCod {
    position: absolute;
    font-size: 10rem;
    top: 2%;
    left: 3%;
  }
  .tblSubEmpresaEmpresa {
    position: absolute;
    font-size: 10rem;
    top: 2%;
    left: 15%;
  }
  .tblSubEmpresaAtivo {
    position: absolute;
    font-size: 10rem;
    top: 2%;
    left: 90%;
  }
  /*------------Conteudo da tabela Empresa------------*/
  .btnSubEmpresaCod {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-weight: 500;
    width: 10rem;
  }
  .btnSubEmpresaOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    width: 60rem;
    font-weight: 500;
    font-size: 10px;
  }
  .btnSubEmpresaAtivo {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: #11806a;
    font-weight: 500;
    width: 10rem;
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  /*------------Cabeçalho da tabela Empresa------------*/
  .tblSubEmpresaCod {
    position: absolute;
    font-size: 5rem;
    top: 2%;
    left: 3%;
  }
  .tblSubEmpresaEmpresa {
    position: absolute;
    font-size: 5rem;
    top: 2%;
    left: 15%;
  }
  .tblSubEmpresaAtivo {
    position: absolute;
    font-size: 5rem;
    top: 2%;
    left: 90%;
  }
  /*------------Conteudo da tabela Empresa------------*/
  .btnSubEmpresaCod {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-weight: 500;
    width: 10rem;
  }
  .btnSubEmpresaOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    width: 60rem;
    font-weight: 500;
    font-size: 10px;
  }
  .btnSubEmpresaAtivo {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: #11806a;
    font-weight: 500;
    width: 10rem;
    font-size: 10px;
  }
}
