.tblSubTipObsCod {
  position: absolute;
  font-size: 0.35em;
  top: 5%;
  left: 2.5%;
}
.tblSubTipObsPessoad {
  position: absolute;
  font-size: 0.35em;
  top: 10%;
  left: 31%;
}
.tblSubTipObsfator1 {
  position: absolute;
  font-size: 0.35em;
  top: 10%;
  left: 59.7%;
}
.tblSubTipObsfator2 {
  position: absolute;
  font-size: 0.35em;
  top: 10%;
  left: 68%;
}
.tblSubTipObsFatorN {
  position: absolute;
  font-size: 0.35em;
  top: 10%;
  left: 76%;
}
.tblSubTipObsPermissao {
  position: absolute;
  font-size: 0.35em;
  top: 10%;
  left: 83.5%;
}
.tblSubTipObsAtivo {
  position: absolute;
  font-size: 0.35em;
  top: 8%;
  left: 94%;
}

/* ------------------conteúdo da tabela---------------- */
.btnSubTipObsCod {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  width: 26rem;
  cursor: pointer;
}
.btnPageGroupQuest {
  background-color: transparent;
  border: none;
  font-family: 'baloo bhaina 2';
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
}
.GroupTipObs {
  cursor: pointer;
  margin-left: 2.5rem;
}
.btnSubTipObsQualiObs {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 24rem;
  font-size: 1rem;
}
.btnSubTipObsfator1 {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  width: 8rem;
}
.btnSubTipObsfator2 {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  width: 8rem;
}

.btnSubTipObsfatorN {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  width: 8rem;
}
.btnSubTipObsPermissao {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  width: 10rem;
}
.btnSubAtivo {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  width: 6rem;
}
