/*-------------Conteudo do cabeçalho da tabela-----------------*/
.btnCodActive {
  position: absolute;
  top: 5%;
  left: 8%;
}
.btnActive {
  font-size: clamp(1em, 1em + 1vw, 1em);
  position: absolute;
  top: 5%;
  left: 24%;
}
.btnStatusActive {
  position: absolute;
  top: 5%;
  left: 54%;
}

/*-------------Conteudo da tabela-----------------*/
.tblCodActive {
  text-align: center;
  width: 14rem;
}
.tblActive {
  text-align: center;
  width: 14rem;
}
.tblStatusActive {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  width: 30rem;
}
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  background-color: transparent;
  border: none;
}

td {
  border-bottom: 1px solid #eee;
  background: #fff;
  font-family: 'baloo bhaina 2';
  font-weight: 700;
  font-size: clamp(1em, 1em + 1vw, 1.1em);
  color: #000;
  width: 100%;
}
th {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}
th div {
  position: absolute;
  background: transparent;
  color: #fff;
  top: 1%;
  margin-left: 4%;
  line-height: normal;
  border-left: none;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
}
th:first-child div {
  border: none;
}

/*------------------------------------------------------------------------------------------*/

@media screen and (max-width: 500px) {
  .buttonModalPadrao {
    position: absolute;
    top: 75%;
    left: 60%;
    width: 35%;
    height: 4%;
    font-size: clamp(0.1em, 0.1em + 3.5vw, 3em);
    z-index: 1;
    cursor: pointer;
    font-family: 'baloo bhaina 2';
    font-weight: 800;
    background-color: #0b9e82;
    color: white;
    border-style: none;
    border-radius: 10px;
  }
  .buttonModalPadrao1 {
    position: absolute;
    top: 21%;
    left: 55%;
    width: 40%;
    height: 4%;
    font-size: clamp(0.1em, 0.1em + 3.5vw, 3em);
    z-index: 1;
    cursor: pointer;
    font-family: 'baloo bhaina 2';
    font-weight: 800;
    background-color: #0b9e82;
    color: white;
    border-style: none;
    border-radius: 10px;
  }
  .buttonModalObservaçoes {
    position: absolute;
    top: 21%;
    left: 65%;
    width: 30%;
    height: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 0.5%;
    z-index: 2;
    cursor: pointer;
    font-family: 'baloo bhaina 2';
    font-weight: 800;
    font-size: clamp(0.1em, 1em + 1.3vw, 3em);
    background-color: #172d52;
    color: white;
    border-style: none;
    border-radius: 10px;
  }

  .subtPadrao1 {
    position: fixed;
    top: 16%;
    left: 5%;
    border-radius: 20px;
    display: block;
    font-size: clamp(0.01em, 0.01em + 6vw, 1.5em);
    font-family: 'baloo bhaina 2';
    font-weight: 800;
    color: #ffffff;
    z-index: -1;
  }
  .subtPadrao2 {
    position: absolute;
    top: 0;
    left: 5%;
    font-weight: 100;
    display: block;
    font-size: clamp(0.1em, 0.1em + 3.5vw, 3em);
    font-family: 'baloo bhaina 2';
    color: #1c396b;
    letter-spacing: -2px;
  }

  .tabelaPadrao {
    overflow: auto;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 58%;
    background-color: white;
    border-radius: 5px;
  }

  .tblcod {
    top: 2%;
    position: absolute;
    left: 5%;
  }
  .tblobservador {
    top: 2%;
    position: absolute;
    left: 15%;
  }
  .tbtlogin {
    top: 2%;
    position: absolute;
    left: 50%;
  }
  .tblfuncao {
    top: 2%;
    position: absolute;
    left: 76%;
  }

  .tblmetas {
    top: 2%;
    position: absolute;
    left: 90%;
  }
}
