/*------------Cabeçalho da tabela Empresa------------*/
.tblSubEmpresaCod {
  position: absolute;
  font-weight: 500;
  font-size: 35px;
  top: 5%;
  left: 3%;
}
.tblSubEmpresaEmpresa {
  position: absolute;
  font-size: 35px;
  font-weight: 500;
  top: 5%;
  left: 15%;
}
.tblSubEmpresaAtivo {
  position: absolute;
  font-size: 35px;
  font-weight: 500;
  top: 5%;
  left: 90%;
}
/*------------Conteudo da tabela Empresa------------*/
.btnSubEmpresaCod {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-weight: 500;
  width: 10rem;
}
.btnSubEmpresaOBS {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  width: 60rem;
  font-weight: 500;
  font-size: 10px;
}
.btnSubEmpresaAtivo {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: #11806a;
  font-weight: 500;
  width: 10rem;
  font-size: 10px;
}
/*------------Modal da tabela Empresa------------*/

@media screen and (max-width: 1024px) {
  /*------------Cabeçalho da tabela Empresa------------*/
  .tblSubEmpresaCod {
    position: absolute;
    font-size: 10rem;
    top: 2%;
    left: 3%;
  }
  .tblSubEmpresaEmpresa {
    position: absolute;
    font-size: 10rem;
    top: 2%;
    left: 15%;
  }
  .tblSubEmpresaAtivo {
    position: absolute;
    font-size: 10rem;
    top: 2%;
    left: 90%;
  }
  /*------------Conteudo da tabela Empresa------------*/
  .btnSubEmpresaCod {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-weight: 500;
    width: 10rem;
  }
  .btnSubEmpresaOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    width: 60rem;
    font-weight: 500;
    font-size: 10px;
  }
  .btnSubEmpresaAtivo {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: #11806a;
    font-weight: 500;
    width: 10rem;
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  /*------------Cabeçalho da tabela Empresa------------*/
  .tblSubEmpresaCod {
    position: absolute;
    font-size: 5rem;
    top: 2%;
    left: 3%;
  }
  .tblSubEmpresaEmpresa {
    position: absolute;
    font-size: 5rem;
    top: 2%;
    left: 15%;
  }
  .tblSubEmpresaAtivo {
    position: absolute;
    font-size: 5rem;
    top: 2%;
    left: 90%;
  }
  /*------------Conteudo da tabela Empresa------------*/
  .btnSubEmpresaCod {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-weight: 500;
    width: 10rem;
  }
  .btnSubEmpresaOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    width: 60rem;
    font-weight: 500;
    font-size: 10px;
  }
  .btnSubEmpresaAtivo {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: #11806a;
    font-weight: 500;
    width: 10rem;
    font-size: 10px;
  }
}
