.UnidadeSelecionada {
  position: absolute;
  top: 20%;
  left: 75%;
  width: 20%;
  height: 60%;
  border-style: none;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  z-index: 1;

  font-family: 'baloo bhaina 2';
  font-weight: 600;
}
.unidTittleRef1 {
  position: absolute;
  left: 5%;
  top: 4%;
  border-radius: 20px;
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  color: #44ad93;
}
.finputUnidade1 {
  position: absolute;
  top: 9%;
  border-radius: 5px;
  width: 100%;
  height: 6%;
  justify-content: center;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  border: none;
  background-color: transparent;
  color: rgb(94, 94, 94);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  padding-left: 1.5rem;
}

.unidTittleRef2 {
  position: absolute;
  left: 5%;
  top: 16%;
  border-radius: 20px;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  color: #44ad93;
}
.finputUnidade2 {
  position: absolute;
  left: 0rem;
  top: 21%;
  border-radius: 5px;
  width: 100%;
  height: 6%;
  justify-content: center;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  border: none;
  background-color: transparent;
  color: rgb(94, 94, 94);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  padding-left: 1.5rem;
}
.unidTittleRef3 {
  position: absolute;
  left: 5%;
  top: 27%;
  border-radius: 20px;
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  color: #44ad93;
}
.finputUnidade3 {
  position: absolute;
  left: 0rem;
  top: 32%;
  border-radius: 5px;
  width: 100%;
  height: 6%;
  justify-content: center;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  border: none;
  background-color: transparent;
  color: rgb(94, 94, 94);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  padding-left: 1.5rem;
}

.unidTittleRef4 {
  position: absolute;
  left: 5%;
  top: 39%;
  border-radius: 20px;
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  color: #44ad93;
}
.finputUnidade4 {
  position: absolute;
  left: 0;
  top: 44%;
  border-radius: 5px;
  width: 100%;
  height: 6%;
  justify-content: center;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  border: none;
  background-color: transparent;
  color: rgb(94, 94, 94);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  padding-left: 1.5rem;
}

.unidTittleRef5 {
  position: absolute;
  left: 5%;
  top: 51%;
  border-radius: 20px;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  color: #44ad93;
}
.finputUnidade5 {
  position: absolute;
  left: 0rem;
  top: 55%;
  border-radius: 5px;
  width: 100%;
  height: 6%;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: rgb(94, 94, 94);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  padding-left: 1.5rem;
}

.unidTittleRef6 {
  position: absolute;
  left: 5%;
  top: 61%;
  border-radius: 20px;
  font-size: clamp(0.1em, 0.1em + 1.1vw, 3em);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  color: #44ad93;
}
.finputUnidade6 {
  position: absolute;
  left: 0;
  top: 66%;
  border-radius: 5px;
  width: 100%;
  height: 6%;
  justify-content: center;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  border: none;
  background-color: transparent;
  color: rgb(94, 94, 94);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  padding-left: 1.5rem;
}
.unidTittleRef7 {
  position: absolute;
  left: 5%;
  top: 73%;
  border-radius: 20px;

  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  color: #44ad93;
}
.finputUnidade7 {
  position: absolute;
  left: 0;
  top: 77%;
  border-radius: 5px;
  width: 100%;
  height: 6%;
  justify-content: center;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  border: none;
  background-color: transparent;
  color: rgb(94, 94, 94);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  padding-left: 1.5rem;
}
.unidTittleRef8 {
  position: absolute;
  left: 5%;
  top: 84%;
  border-radius: 20px;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  color: #44ad93;
  letter-spacing: -1px;
}
.finputUnidade8 {
  position: absolute;
  left: 38%;
  border-radius: 5px;
  top: 84.5%;
  padding-left: 1px;
  width: 24px;
  height: 28px;
  justify-content: center;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  border: none;
  background-color: transparent;
  color: rgb(94, 94, 94);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
}
.headerDivider1 {
  border-left: 3px solid #44ad93;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 85%;
}
.unidTittleRef9 {
  position: absolute;
  left: 55%;
  top: 84.5%;
  border-radius: 20px;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  color: #44ad93;
  letter-spacing: -1px;
}
.finputUnidade9 {
  position: absolute;
  left: 87%;
  top: 83.5%;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 1px;
  width: 24px;
  height: 28px;
  justify-content: center;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  border: none;
  background-color: transparent;
  color: rgb(94, 94, 94);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
}

.unidTittleRef10 {
  position: absolute;
  left: 5%;
  top: 91%;
  border-radius: 20px;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  color: #44ad93;
}
.finputUnidade10 {
  position: absolute;
  left: 22%;
  top: 91.5%;
  border-radius: 5px;
  width: 75%;
  height: 6%;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding-left: 5%;
  color: rgb(94, 94, 94);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  font-size: clamp(0.1em, 0.1em + 1vw, 3em);
}
.tabelaPadraoICS {
  overflow: auto;
  position: absolute;
  top: 40%;
  left: 10%;
  width: 80%;
  height: 50%;
  background-color: white;
  border-radius: 2%;
}
.tabelaPadraoICS::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}
.tabelaPadraoSetor {
  overflow: auto;
  position: absolute;
  top: 40%;
  left: 10%;
  width: 80%;
  height: 50%;
  background-color: white;
  border-radius: 2%;
}
.tabelaPadraoSetor::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}
.UniClienteICS {
  background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 28%;
  height: 45%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  display: flex;
  line-height: 1 !important;
  font: bold 18px 'baloo bhaina 2';
}
.UniClienteProAtivo {
  background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 0;
  left: 35%;
  width: 28%;
  height: 45%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  display: flex;
  line-height: 1 !important;
  font: bold 18px 'baloo bhaina 2';
}
.relProjetado {
  background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 7%;
  left: 0;
  width: 28%;
  height: 45%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  display: flex;
  line-height: 1 !important;
  font: bold 18px 'baloo bhaina 2';
}
.relAcumulado {
  background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 7%;
  left: 35%;
  width: 28%;
  height: 45%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  display: flex;
  line-height: 1 !important;
  font: bold 18px 'baloo bhaina 2';
}

.mesSetor1,
.UniClienteMes1,
.UniClienteSetor1 {
  background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 65%;
  left: 0;
  width: 28%;
  height: 45%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  display: flex;
  line-height: 1 !important;
  font: bold 18px 'baloo bhaina 2';
}
.mesSetor2,
.UniClienteMes2,
.UniClienteSetor2 {
  background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 65%;
  left: 35%;
  width: 28%;
  height: 45%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  display: flex;
  line-height: 1 !important;
  font: bold 18px 'baloo bhaina 2';
}
.mesSetor3,
.UniClienteMes3,
.UniClienteSetor3 {
  background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 65%;
  left: 70%;
  width: 28%;
  height: 45%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  display: flex;
  line-height: 1 !important;
  font: bold 18px 'baloo bhaina 2';
}
.mesSetor4,
.UniClienteMes4,
.UniClienteSetor4 {
  background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 125%;
  left: 0;
  width: 28%;
  height: 45%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  display: flex;
  line-height: 1 !important;
  font: bold 18px 'baloo bhaina 2';
}
.mesSetor5,
.UniClienteMes5,
.UniClienteSetor5 {
  background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 125%;
  left: 35%;
  width: 28%;
  height: 45%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  display: flex;
  line-height: 1 !important;
  font: bold 18px 'baloo bhaina 2';
}
.mesSetor6,
.UniClienteMes6,
.UniClienteSetor6 {
  background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 125%;
  left: 70%;
  width: 28%;
  height: 45%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  display: flex;
  line-height: 1 !important;
  font: bold 18px 'baloo bhaina 2';
}
.mesSetor7,
.UniClienteMes7,
.UniClienteSetor7 {
  background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 185%;
  left: 0;
  width: 28%;
  height: 45%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  display: flex;
  line-height: 1 !important;
  font: bold 18px 'baloo bhaina 2';
}
.mesSetor8,
.UniClienteMes8,
.UniClienteSetor8 {
  background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 185%;
  left: 35%;
  width: 28%;
  height: 45%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  display: flex;
  line-height: 1 !important;
  font: bold 18px 'baloo bhaina 2';
}

.mesSetor9,
.UniClienteMes9,
.UniClienteSetor9 {
  background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 185%;
  left: 70%;
  width: 28%;
  height: 45%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  display: flex;
  line-height: 1 !important;
  font: bold 18px 'baloo bhaina 2';
}
.btnReturn {
  position: absolute;
  width: 0;
  height: 0;
  top: 65%;
  left: 11%;
  font-size: clamp(0.1em, 0.1em + 4vw, 3em);
  z-index: 1;
  cursor: pointer;
  font-family: 'baloo bhaina 2';
  font-weight: 800;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-style: none;
}
.btnReturn :hover {
  color: #44ad93;
  transition: 0.3s;
}
.TittleIndice {
  position: absolute;
  text-align: center;
  top: 56%;
  left: 2%;
  font-size: clamp(0.1em, 0.1em + 1.4vw, 3em);
  font-weight: 600;
  color: #1c396b;
  background: transparent;
}
.TittleProjetadoAcumulado {
  position: absolute;
  text-align: center;
  top: -14%;
  left: 5%;
  font-size: clamp(0.1em, 0.1em + 1.4vw, 3em);
  color: #1c396b;
  background: transparent;
}
.TittleMes {
  position: absolute;
  text-align: center;
  top: 105%;
  font-size: clamp(0.1em, 0.1em + 1.4vw, 3em);
  color: #1c396b;
  background: transparent;
}
.tittleUniSetor {
  position: absolute;
  top: 105%;
  font-size: clamp(0.1em, 0.1em + 1.4vw, 3em);
  color: #1c396b;
  background: transparent;
}
.mesContrib1 {
  position: absolute;
  margin-left: -39rem;
  margin-top: 0;
  width: 17rem;
  height: 16rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 800 25px 'baloo bhaina 2';
  text-align: left;
  background-color: rgb(202, 202, 202);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 7.5rem 2rem;
}
.mesContrib2 {
  position: absolute;
  left: 20rem;
  top: 0;
  width: 17rem;
  height: 16rem;
  border-radius: 20px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1 !important;
  font: 800 25px 'baloo bhaina 2';
  background-color: rgb(202, 202, 202);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 7.5rem 12rem;
}
.tittleICS {
  position: absolute;
  top: 8%;
  left: 40%;
  font-size: clamp(0.1em, 0.1em + 2vw, 3em);
  color: white;
  background: transparent !important;
}
.tittleProativo {
  position: absolute;
  top: 1rem;
  left: 20%;
  font-size: clamp(0.1em, 0.1em + 2vw, 3em);
  color: white;
  background: transparent !important;
}
.tittleICSRel {
  position: absolute;
  top: 10%;
  font-size: clamp(0.1em, 0.1em + 0.8vw, 2em);
  color: white;
  background: transparent;
}

.hr {
  position: absolute;
  width: 2px;
  height: 20%;
  align-items: center;
  top: 63%;
  border: none;
  background-color: white;
}
.ICSUnidadegraph {
  background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 0%;
  left: 70%;
  width: 28%;
  height: 45%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  display: flex;
  line-height: 1 !important;
  font: bold 18px 'baloo bhaina 2';
}
.cxLegenda {
  justify-content: right;
  text-align: center;
  align-items: center;
  display: flex;
  gap: 1rem;
  position: absolute;
  left: 30%;
  top: 92%;
  width: 47%;
  height: 10%;
  background-color: transparent;
}
.lgLegenda {
  position: absolute;
  display: flex;

  font-size: clamp(0.1em, 0.1em + 1.2vw, 4em);
  font-weight: 600;
  left: 10%;
  top: -5%;
}
.lgAcima {
  position: absolute;
  display: flex;
  left: 30%;
  top: 0;
  padding-top: 1%;
  background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
  font-size: clamp(1em, 0.1em + 0.7vw, 1.5em);
  font-weight: 600;
  color: white;
  width: 30%;
  gap: 0.6rem;
  border: none;
  border-radius: 10px;
}
.okImg {
  margin-left: 5%;
  width: 15%;
}
.lgMedia {
  position: absolute;
  display: flex;
  left: 62%;
  top: 0;
  padding-top: 1%;
  background-color: #3269c7;
  gap: 1.5rem;
  font-size: clamp(1em, 0.1em + 0.7vw, 1.5em);
  font-weight: 600;
  color: white;
  width: 30%;
  border: none;
  border-radius: 10px;
}
.GraphImg {
  margin-left: 5%;
  margin-top: -3%;
  width: 20%;
}
.lgAbaixo {
  position: absolute;
  display: flex;
  left: 94%;
  top: 0;
  padding-top: 1%;
  background-color: #ec3565;
  font-size: clamp(1em, 0.1em + 0.7vw, 1.5em);
  font-weight: 600;
  color: white;
  width: 30%;
  gap: 0.6rem;
  border: none;
  border-radius: 10px;
}
.wrongImg {
  margin-left: 5%;
  width: 15%;
}

@media screen and (max-width: 500px) {
  .UnidadeSelecionada {
    display: none;
  }

  .btnReturn {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 30rem;
    left: 0;
    font-size: 45px;
    z-index: 1;
    cursor: pointer;
    font-family: 'baloo bhaina 2';
    font-weight: 800;
    background-color: transparent;
    color: rgb(0, 0, 0);

    border-style: none;
  }
  .tabelaPadraoICS {
    overflow: auto;
    position: absolute;
    top: 12%;
    left: 5%;
    width: 90%;
    height: 60%;
    border-radius: 2%;
  }
  .tabelaPadraoSetor {
    overflow: auto;
    position: absolute;
    top: 12%;
    left: 5%;
    width: 90%;
    height: 60%;
    border-radius: 2%;
    background-color: white;
  }

  .relProjetado {
    background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    display: flex;
    line-height: 1 !important;
    font: 600 18px 'baloo bhaina 2';
  }
  .relAcumulado {
    background-image: linear-gradient(100deg, #11806a, #258f7a, #3ca38f);
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 100%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    display: flex;
    line-height: 1 !important;
    font: 600 18px 'baloo bhaina 2';
  }
  .TittleIndice {
    position: absolute;
    text-align: center;
    top: 0%;
    left: 180%;
    width: 90%;
    font-size: clamp(0.1em, 0.1em + 4vw, 3em);
    font-weight: 600;
    color: #1c396b;
    background: transparent;
  }
  .TittleProjetadoAcumulado {
    position: absolute;
    text-align: center;
    top: -10%;
    left: 5%;
    font-size: clamp(0.1em, 0.1em + 5vw, 3em);
    color: #1c396b;
    background: transparent;
  }

  .UniClienteICS {
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    display: flex;
    line-height: 1 !important;
    font: 600 18px 'baloo bhaina 2';
  }
  .UniClienteProAtivo {
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 100%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    display: flex;
    line-height: 1 !important;
    font: 600 18px 'baloo bhaina 2';
  }
  .mesSetor1,
  .UniClienteMes1,
  .UniClienteSetor1 {
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 190%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    display: flex;
    line-height: 1 !important;
    font: 600 18px 'baloo bhaina 2';
  }
  .mesSetor2,
  .UniClienteMes2,
  .UniClienteSetor2 {
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 280%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    display: flex;
    line-height: 1 !important;
    font: 600 18px 'baloo bhaina 2';
  }
  .mesSetor3,
  .UniClienteMes3,
  .UniClienteSetor3 {
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 370%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    display: flex;
    line-height: 1 !important;
    font: 600 18px 'baloo bhaina 2';
  }
  .mesSetor4,
  .UniClienteMes4,
  .UniClienteSetor4 {
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 460%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    display: flex;
    line-height: 1 !important;
    font: 600 18px 'baloo bhaina 2';
  }
  .mesSetor5,
  .UniClienteMes5,
  .UniClienteSetor5 {
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 550%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    display: flex;
    line-height: 1 !important;
    font: 600 18px 'baloo bhaina 2';
  }
  .mesSetor6,
  .UniClienteMes6,
  .UniClienteSetor6 {
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 640%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    display: flex;
    line-height: 1 !important;
    font: 600 18px 'baloo bhaina 2';
  }
  .mesSetor7,
  .UniClienteMes7,
  .UniClienteSetor7 {
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 730%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    display: flex;
    line-height: 1 !important;
    font: 600 18px 'baloo bhaina 2';
  }
  .mesSetor8,
  .UniClienteMes8,
  .UniClienteSetor8 {
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 820%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    display: flex;
    line-height: 1 !important;
    font: 600 18px 'baloo bhaina 2';
  }

  .mesSetor9,
  .UniClienteMes9,
  .UniClienteSetor9 {
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 910%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    display: flex;
    line-height: 1 !important;
    font: 600 18px 'baloo bhaina 2';
  }

  .TittleMes {
    position: absolute;
    top: 5%;
    font-size: clamp(0.1em, 0.1em + 7vw, 3em);
    color: #1c396b;
  }
  .tittleUniSetor {
    position: absolute;
    top: 5%;
    font-size: clamp(0.1em, 0.1em + 7vw, 3em);
    color: #1c396b;
  }

  .hr {
    position: relative;
    top: 25%;
    width: 1%;
    height: 25%;
    background-color: black;
    border-color: transparent;
  }
  .tittleICS {
    position: absolute;
    top: 10%;
    font-size: clamp(0.1em, 0.1em + 7vw, 3em);
    background: transparent;
    color: #1c396b;
  }
  .tittleProativo {
    position: absolute;
    top: 10%;
    left: 30%;
    font-size: clamp(0.1em, 0.1em + 7vw, 3em);
    color: #1c396b;
    background: transparent;
  }

  .tittleICSRel {
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    font-size: clamp(0.1em, 0.1em + 5vw, 3em);
    color: #1c396b;
    background: transparent;
  }
  .ICSUnidadegraph {
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 190%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    display: flex;
    line-height: 1 !important;
    font: 600 18px 'baloo bhaina 2';
  }
}
